@model IEnumerable<ContatosQueEuOdeio.Models.Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<h1>Cliente</h1>

<p>
    <a class="btn btn-primary" asp-action="Criar">Novo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Editar" asp-route-idCliente="@item.Id">Editar</a> 
                    <a class="btn btn-secondary" asp-action="Detalhar" asp-route-idCliente="@item.Id">Detalhar</a> 
                    <a class="btn btn-danger" asp-action="Remover" asp-route-idCliente="@item.Id">Remover</a> 
                    <a class="btn btn-primary" asp-controller="Contato" asp-action="Index" asp-route-idCliente="@item.Id">Contato</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--<a class="btn btn-primary" asp-controller="Contato" asp-action="Index" asp-route-idCliente="item.Id">Contato</a>-->
